
$main-width-desktop: 80vw;
$head-width-desktop: 90vw;

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.header{
	display: flex;
  	justify-content: center;
	width: $head-width-desktop;
	font-family: 'Monseratt', sans-serif;
	&__logo{
		font-weight: 700;
		font-size: 32px;
		line-height: 170%;
		background-size: cover;
		color: yellowgreen;
  		background-image: url("../assets/images/hero/logo.webp");
	}	
}

main{
	display: flex;
  	align-items: center;
	width: $main-width-desktop;
}

.main-menu-container {
  background-color: rgb(105, 116, 119);
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid red;
}

.menu-container {
  display: flex;
  justify-content: space-evenly;
  width: 80wv;
}

.nav{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;	
	&__item{
		margin: 20px;
		&_button{
			color: #fff;
			padding: 14px 32px;
        	background: #2C3878;
			button {
				background-color: black;
				color: white;
				&:hover {
					background-color: lightcyan;
					color: black;
					cursor: pointer;
				}
			}
		}
	}	
}

@media screen and (max-width: 1024px) {
	.header__logo{
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width:1024px) {
	.nav{
		&__item{
			margin: 15;
			&_button{			
				padding: 2px 5px;
			}	
		}
	}
}

@media screen and (min-width: 480) and (max-width:768px) {
	.nav{
		&__item{
			margin: 10px;
			&_button{			
				padding: 0px 0px;
			}	
		}
	}
}

@media screen and (max-width:480px) {
	.nav{
		&__item{
			margin: 10px;
			&_button{			
				display: none;
			}	
		}
	}
}







